@model kodex.ViewModels.StreamViewModel

@{
    ViewData["Title"] = Model.Title;
}

@Html.DisplayFor(model => model.Description)

<article>
    <header>
        <h2 class="post-title"></h2>
        <span class="post-author">post author</span> · <span class="post-date">@Html.DisplayFor(modelItem => Model.DatePublished)</span>
    </header>
    <div>
        @if (!String.IsNullOrEmpty(Model.BookTitle))
        {
            <img src="@Model.BookCoverUrl" alt="@Model.BookTitle cover" />
            <a href="@Html.DisplayFor(model => model.GoodreadsBookUrl)">@Html.DisplayFor(model => model.BookTitle)</a>
            @Html.DisplayFor(model => model.BookAuthor)
            @Html.DisplayFor(model => model.BookPubDate)
        }

        @Html.DisplayFor(modelItem => Model.Body)

        @if (!String.IsNullOrEmpty(Model.BookTitle))
        {
            @Html.DisplayFor(model => model.IsAudioBook)
            @Html.DisplayFor(model => model.Rating)
        }
    </div>
</article>