@model IEnumerable<kodex.ViewModels.StreamViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePublished)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateLastUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BoardGameGeekId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BoxImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAudioBook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookPubDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpenLibraryUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoodreadsBookUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoodreadsReviewUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PosterUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TheMovieDbUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LetterboxdMovieUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LetterboxdReviewUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoteUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CdnFolderUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CdnZipUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Yield)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoUrl)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardGameGeekId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAudioBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPubDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenLibraryUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodreadsBookUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodreadsReviewUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosterUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheMovieDbUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LetterboxdMovieUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LetterboxdReviewUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdnFolderUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdnZipUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoUrl)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
