@model IEnumerable<kodex.ViewModels.StreamViewModel>

@{
    ViewData["Title"] = "Stream";
}

<h2>Stream</h2>

@foreach (var post in Model.OrderByDescending(x => x.DatePublished))
{
    <article>
        <header>
            <h2 class="post-title"><a asp-action="Details" asp-route-id="@post.Id">@Html.DisplayFor(modelItem => post.Title)</a></h2>
            <span class="post-author">post author</span> · <span class="post-date">@Html.DisplayFor(modelItem => post.DatePublished)</span>
        </header>
        <p class="post-excerpt">
            @Html.DisplayFor(modelItem => post.Image)
            @Html.DisplayFor(modelItem => post.Excerpt) (<a asp-action="Details" asp-route-id="@post.Id">more</a>)
        </p>
    </article>
}